favicon.ico/
# ====== macOS sistem dosyaları ======
.DS_Store
.AppleDouble
.LSOverride

# ====== Gizli sistem dosyaları ======
Icon?
Thumbs.db
ehthumbs.db
Desktop.ini

# ====== Git / IDE / VSCode dosyaları ======
.vscode/
.idea/
*.log
