body {
    font-family: Arial, sans-serif;
    background-color: #f9f6ff;
    color: #333;
    padding: 20px 60px;
    line-height: 1.6;
}

h1,
h2 {
    text-align: center;
    color: #5e1380;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 32px;
    border-bottom: 3px solid #d1a9e0;
    display: inline-block;
    padding-bottom: 8px;
    margin: 0 auto 25px;
}

h2 {
    font-size: 24px;
    border-bottom: 2px solid #d1a9e0;
    display: inline-block;
    margin: 30px auto 15px;
    padding-bottom: 5px;
}

h3 {
    color: #5e1380;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-align: center;
}

section {
    margin-bottom: 40px;
    text-align: center;
}

p {
    width: 70%;
    margin: 10px auto;
    font-size: 16px;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul,
ol {
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

form {
    background: #fff;
    border: 2px solid #7b1fa2;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 2px solid #d1a9e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #6a1b9a;
    padding: 0 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #4a148c;
}

input,
textarea,
button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

button {
    background-color: #7b1fa2;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #5e1380;
}

header {
    background-color: #7b1fa2;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: #72215a;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #d1a9e0;
    text-decoration: underline;
}

nav a.active {
    border-bottom: 2px solid #d1a9e0;
}

footer a {
    color: #7b1fa2;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

footer a:hover {
    color: #5e1380;
    text-decoration: underline;
}
#education {
    text-align: center;
    width: 100%;
    margin: auto;
}
.edu-block {
    box-sizing: border-box;
}
